.MainDash {
  /* padding-top: 1rem; */
  display: flex;
  flex-direction: column;

  width: 100%;
}
.MainDash h1 {
  font-size: 24px;
  color: white;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #e0e0e0;
  background-color: #2f3564;
}

@media screen and (max-width: 1200px) {
  .MainDash {
    justify-content: flex-start;

    width: min-content;
  }
}

@media screen and (max-width: 768px) {
  .MainDash {
    align-items: center;
  }
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
