.MainDash {
  /* padding-top: 1rem; */
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  width: 100%;
}
.MainDash h1 {
  font-size: 24px;
  color: white;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #e0e0e0;
  background-color: #2f3564;
}

@media screen and (max-width: 1200px) {
  .MainDash {
    justify-content: flex-start;

    width: min-content;
  }
  .form-group {
    text-align: center;
  }
  .submit-btn {
    transform: translateX(0px) !important;
  }
}

@media screen and (max-width: 768px) {
  .MainDash {
    align-items: center;
  }
  h1 {
    text-align: center;
  }

  .form-group {
    text-align: center;
  }
}

.form-group {
  margin-bottom: 1rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

label {
  display: block;
  font-weight: bold;
}

.form-group input {
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 15rem !important;
  height: 2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding-left: 0.5rem;
}

/* .phone-input {
  transform: translateX(-100px);
} */
.submit-btn {
  padding: 5px 20px;
  transform: translateX(-50px);
  font-size: 1.5rem;
}
.error {
  color: red;
}
