
h1{
  font-family: 'Open Sans',sans-serif;;
}
.header {
  position: relative;
}
.marker-icon {
  color: "red";
}




Line {
  display: flex;
  width: 5cm;
}
.parent-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.line-row {
  width: 80%;
 
}
.line-col {
  width: 100%;
}

/* analysis css */
.arrows {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  content: '';
  border: 4px solid transparent;
}

.arrows.up {
  border-top-color: black;
}

.arrows.down {
  border-bottom-color: black;
}
.dropdown-content {
  border: 1px solid #ddd;
  padding: 8px;
  position: absolute;
  margin-top: 2rem;
  z-index: 1;
  background-color: white;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  transition: opacity 0.2s ease;
  opacity: 0;
  pointer-events: none;
}
.select-river{
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.2px;
  justify-content: center;
  display: flex;
}
.dropdown-content a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  opacity: 1;
  pointer-events: auto;
}

.card-section{
  box-shadow: 0px 0px 2px 1px rgb(193, 189, 189);
  border-bottom: 4px solid rgba(30, 52, 75, 0.83);
  border-radius: 20px;
}
.card-wrapper{
  width: 80%;

}