.header {
  position: relative;
}
.marker-icon {
  color: "red";
}

path {
  fill: red;
}

.dangerLevelText {
  color: red;
}
.warningText {
  color: rgb(190, 144, 59);

  padding: 0;
}
.steadyText {
  color: green;
}
Line {
  display: flex;
  width: 5cm;
}
.parent-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.line-row {
  width: 80%;
 
}
.line-col {
  width: 100%;
}
